html
{
    height: 100%;
}

body
{
    height: 100%;
    margin: 0;
    background-color: #FFB85A;
}

header
{
    width: 100%;
    height: 8%;
    border-bottom-style: solid;
    color: black;
    border-width: 1px;
    background-color:#FFEE90;
    border-color: #FFEE90;
    position:fixed;
    z-index: 1;
}